$baseFontSize: 100%;

/* Color palette */
$grayDarker: #141414;
$grayDark: #222;
$grayMedium: #323232;
$grayLight: #3f3f3f;
$grayLighter: #eee;
$textOnWhite: #252525;
$textOnGray: #fff;
$linkColor: #fff;
$linkColorHover: #00b5ff;
$textSubtle: #5b5b5b;
$textSubtleLight: #adadad;
$blue: #00b5ff;
$blueMedium: #34495E;
$blueDark: #2D3E50;
$green: #27AE61;
$greenLight: #2FCC71;
$warning: #F44932;
$yellow: #F1C40F;
$legend-color: $greenLight;
$legend-border-color: $green;

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             $green;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                $blue;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             $yellow;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              $warning;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;

/* Sizes & margins */
$unit: 40px;
$defaultMargin: 16px;
$relatedMargin: 8px;
$tightMargin: 4px;
$wideMargin: 32px;

$padding-base-vertical: 8px;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width: 14px !default;

/* Components */
$inspectorWidth: $unit * 8;
$editPreviewPanelHeight: $unit * 2.75;
$menuWidth: $unit * 8;
$editPreviewPanelHeight: $unit * 2.75;
$menuButtonWidth: 54px;
$generalFontSize: 14px;
$font-size-base: $generalFontSize;
$input-height-base: 20px;

/* Footer*/
$footerHeight: 100px;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px