// Core variables and mixins
@import "compass";
@import "Foundation/variables"; // Modify this for custom colors, font-sizes, etc
@import "Foundation/mixins";
@import "Constants";
@import "Mixins";
@import url('http://fonts.googleapis.com/css?family=Droid+Sans:400,700');
@import "../../Public/Library/fontawesome/scss/font-awesome.scss";
@import "Alerts";
@import "StickyFooter";
@import "Footer";

$loginBoxWidth: $unit * 8;
$notificationBoxWidth: $unit * 10;

.refactory {
	// CSS Reset
	@import "Foundation/reset";
	@import "Foundation/scaffolding";
	@import "Foundation/utilities";
	@import "Foundation/grid";
	@import "Foundation/forms";
	@import "Foundation/tooltip";
	@import 'Logo';
	@import "Process";
	@import "Notifications";

	@include font;

	input[type="text"],
	input[type="password"] {
		width: 100%;
		min-width: $inspectorWidth - $defaultMargin * 2;
		height: $unit;
		border: 2px solid $blueMedium;
		background-color: $blueMedium;
		color: $textOnGray;
		font-size: 14px;
		padding: 0 ($defaultMargin - 2px);
		margin: 0;
		@include border-radius(0);
		@include box-sizing(border-box);
		@include box-shadow(none);
		@include transition(none);
		@include font;

		&:focus {
			background-color: #fff;
			border: 2px solid #fff;
			color: $textOnWhite;
			@include box-shadow(none);
		}

		&:-webkit-autofill {
			-webkit-box-shadow: 0 0 0 50px $grayMedium inset;
			-webkit-text-fill-color: $textOnGray;

			&:focus {
				-webkit-box-shadow: 0 0 0 50px #fff inset;
				-webkit-text-fill-color: $textOnWhite;
			}
		}
	}

	#register-box,
	#login-box,
	#reset-box {
		background: transparent;
		border: none;
		position: absolute;
		top: 45%;
		left: 50%;
		width: $loginBoxWidth;
		margin-top: -125px;
		margin-left: -($loginBoxWidth / 2);
		z-index: 10;
		@include box-shadow(none);
		@include border-radius(none);

		.login-logo {
			margin-bottom: 30px;
			text-align: center;
		}

		.reset-body,
		.reset-body,
		.login-body {
			padding: 0;
			overflow: visible;
		}

		.application-actions {
			bottom: 0;
			width: 100%;
			height: $unit;

			.utility {
				height: 20px;
				margin-bottom: 10px;
			}

			button {
				height: $unit;
				color: #fff;
				border: none;
				background-image: none;
				font-size: 15px;
				@include text-shadow(none);
				@include box-shadow(none);
				@include box-sizing(border-box);
				@include font;

				&:focus {
					outline: none;
				}

				&.reset-btn,
				&.login-btn {
					background-color: $blue;
					width: 100%;
					&.promise,
					&.promise:hover
					&.promise:focus {
						background-color: $green;
					}

					&:hover,
					&:focus {
						background-color: darken($blue, 8%);
						transition: all 300ms ease-in;
					}

				}
			}
		}

		.form-controls {
			height: $unit;
			margin-bottom: 15px;
		}

		.form-group {
			height: $unit;
			margin-bottom: 15px;

			&.validation {
				margin-bottom: 25px;
			}

			&.feedback-large {
				margin-bottom: 40px;
			}

			.pwstrength_viewport_progress {
				position: relative;
				background-color: $green;
				color: $textOnGray;
				top: -40px;
				right: -327px;
				padding-top: 12px;
				padding-bottom: 12px;
			}
		}

		.tooltip {
			left: -4px;
			top: 0;
			width: 100%;
			position: relative;
			clear: both;
			float: none;

			&.bottom {
				padding: $relatedMargin 0 0 0;
				margin-left: $tightMargin;
				margin-top: -1px;
			}

			&.in {
				@include opacity(1);
			}

			.tooltip-arrow {
				margin-left: -$relatedMargin;
				border-width: 0 $relatedMargin $relatedMargin $relatedMargin;
			}

			.tooltip-inner {
				max-width: $loginBoxWidth;
				font-size: 13px;
				color: #fff;
				@include border-radius(0);
				@include box-sizing(border-box);
			}
		}

		.tooltip-error {
			.tooltip-arrow {
				border-bottom-color: $warning;
			}

			.tooltip-inner {
				background-color: $warning;
			}
		}

		.tooltip-notice {
			.tooltip-arrow {
				border-bottom-color: $green;
			}

			.tooltip-inner {
				background-color: $green;
			}
		}

		&.notification {
			width: $notificationBoxWidth;
			color: white;
			margin-left: -($notificationBoxWidth / 2);

			.reset-body {
				background-color: $blueMedium;
				padding: 25px 20px;

				h1 {
					text-align: center;
				}

				&.complete {
					&:before {
						position: absolute;
						font-size: 370px;
						top: 40px;
						left: 30px;
						font-family: 'FontAwesome';
						content: "\f00c";
						color: $green;
						opacity: 0.2;
					}
				}
			}
		}
	}

	a.btn {
		height: $unit;
		color: #fff;
		border: none;
		background-image: none;
		font-size: 15px;
		@include text-shadow(none);
		@include box-shadow(none);
		@include box-sizing(border-box);
		@include font;

		&:focus {
			outline: none;
		}

		&.reset-btn {
			background-color: $blue;
			width: 100%;
			&.promise,
			&.promise:hover
			&.promise:focus {
				background-color: $green;
			}

			&:hover,
			&:focus {
				background-color: darken($blue, 8%);
				transition: all 300ms ease-in;
			}

		}
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	.refactory {
		#reset-box,
		#login-box {
			position: static;
			top: 0;
			margin-top: $unit;
			margin-left: 0;
			padding-left: $unit;
			padding-right: $unit;
			width: 100%;
			height: auto;
			@include box-sizing(border-box);
		}
	}
}