// Core variables and mixins
@import "compass";
@import "Foundation/variables"; // Modify this for custom colors, font-sizes, etc
@import "Foundation/mixins";
@import "Constants";
@import "Mixins";
@import url('http://fonts.googleapis.com/css?family=Droid+Sans:400,700');
@import "../../Public/Library/fontawesome/scss/font-awesome.scss";
@import "StickyFooter";
@import "Footer";

$signedInBoxWidth: $unit * 12;

.refactory {
	// CSS Reset
	@import "Foundation/reset";
	@import "Foundation/scaffolding";
	@import "Foundation/grid";
	@import "Foundation/wells";
	@import "Foundation/tooltip";
	@import "Foundation/buttons";

	@import "Logo";

	@include font;

	#signedIn-box {
		color: white;
		background: $green;
		border: none;
		position: absolute;
		top: 40%;
		left: 50%;
		width: $signedInBoxWidth;
		margin-top: -125px;
		margin-left: -($signedInBoxWidth / 2);
		z-index: 10;
		@include box-shadow(none);
		@include border-radius(none);


		.btn-logout {
			height: $unit;
			color: #fff;
			border: none;
			background-image: none;
			font-size: 14px;
			background-color: $warning;
			@include text-shadow(none);
			@include box-shadow(none);
			@include box-sizing(border-box);
			@include font;

			&:focus {
				outline: none;
			}

			&.login-btn {
				background-color: $blue;
				width: 100%;
				&.promise,
				&.promise:hover
				&.promise:focus {
					background-color: $green;
				}

				&:hover,
				&:focus {
					background-color: darken($blue, 8%);
					transition: all 300ms ease-in;
				}

			}
		}
	}
}