<h2>Registratie compleet</h2>

<p>Geachte {party.fullname},</p>
<p>U heeft het registratie proces doorlopen en kunt nu op elke gewenst moment inloggen op
<f:translate id="nameProject"></f:translate> met de door u opgegeven gebruikernaam en het door u gekozen
wachtwoord.</p>
<p>U heeft zich geregistreerd met de volgende gebruikernaam: {account.userName}</p>

<P>Hartelijk dank voor het raadplegen van <f:translate id="nameProject"></f:translate> en streven ernaar om u met al uw
vraagstukken van zo goed mogelijk advies te voorzien.</p>
<p>Met vriendelijke groet,</p>
<f:translate id="nameProject"></f:translate>

