<f:layout name="AjaxCall" />

<f:section name="Content">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">x</button>
				<h3><i class="icon-user"></i> Login Panel</h3>
			</div>
			<div class="modal-body">
				<f:form additionalAttributes="{role:'form'}" id="login-form" name="login" action="authenticate" format="json">

					<f:render partial="FlashMessages" />

					<div class="form-group">
						<!-- Username -->
						<label for="username"><f:translate id="authentication.username">Username</f:translate></label>
						<div class="input-group">
							<f:form.textfield name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][username]" id="username" class="input-lg" value="{username}" placeholder="{f:translate(id: 'authentication.username.placeholder', value: 'Your username')}"  />
						</div>
					</div>

					<div class="form-group">
						<!-- Password-->
						<label for="password"><f:translate id="authentication.password">Password</f:translate></label>
						<div class="input-group">
							<f:form.password name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][password]" id="password" class="input-lg" additionalAttributes="{placeholder: '{f:translate(id: \'authentication.password.placeholder\', value: \'Your password\')}'}" />
						</div>
					</div>

					<div class="form-group">
						<!-- Button -->
						<button class="btn btn-default btn-lg"><f:translate id="authentication.login">Login</f:translate></button>
					</div>

				</f:form>
			</div>
		</div>
	</div>
</f:section>