{namespace secure=Refactory\Login\ViewHelpers}
<f:layout name="Default" />

<f:section name="Title">Signed In</f:section>

<f:section name="Content">
	<div class="application-logo">
		<img src="resource://Refactory.Login/Public/Images/ApplicationLogo.png" alt="Application logo" />
	</div>
	<div id="signed-in-box" class="well well-large">
		<f:link.action controller="Login" action="logout" class="button pull-right btn-logout"><i class="icon-off"></i> Log out</f:link.action>
		<h2>You are now signed in.</h2>
		<p>This shows you that you are authenticated and the plugin is working.</p>
		<p>Next steps are to configure the redirection when authenticated.<br/></p>
		<p><strong>Enjoy this package!</strong></p>
	</div>
</f:section>

<f:section name="Script">
</f:section>