<f:layout name="Default"/>

<f:section name="Title">
	<f:translate id="resetPasswordRequest">Reset password request</f:translate>
</f:section>

<f:section name="Content">
	<div class="application-logo">
		<f:if condition="{settings.image}">
			<f:then>
				<img src="{f:uri.resource(path: settings.image)}" alt="Application logo" />
			</f:then>
			<f:else>
				<img src="resource://Refactory.Login/Public/Images/ApplicationLogo.png" alt="Application logo" />
			</f:else>
		</f:if>
	</div>
	<div id="reset-box">
		<div class="process">
			<div class="process-row">
				<div class="process-step">
					<button type="button" class="btn active btn-circle" disabled="disabled"><i class="icon-pencil"></i></button>
				</div>
				<div class="process-step">
					<button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="icon-exchange"></i></button>
				</div>
				<div class="process-step">
					<button type="button" class="btn btn-success btn-circle" disabled="disabled"><i class="icon-check"></i></button>
				</div>
			</div>
		</div>
		<div class="reset-body">
			<f:form id="reset-form" class="form-horizontal" name="password" action="sendResetRequest" controller="Password" format="json">
				<fieldset>
					<div class="form-controls">
						<f:form.textfield name="identifier" id="inputUsernameEmail" type="text" class="form-control" placeholder="Gebruikersnaam / e-mail adres" additionalAttributes="{autofocus: 'autofocus', tabindex: 1}"/>
					</div>
					<div class="application-actions feedback">
						<button class="span5 pull-right button button-primary button-warning reset-btn" data-loading-text="Loading..." type="submit" tabindex="2">
							<f:translate id="requestNewPassword">Request new password ></f:translate>
						</button>
					</div>
					<p class="utility">
						<f:link.action controller="Login" action="login" class="pull-left"><f:translate id="link.login">Login?</f:translate></f:link.action>
					</p>
				</fieldset>
			</f:form>
		</div>
	</div>
</f:section>

<f:section name="Script">
	<script src="{f:uri.resource(path: 'JavaScript/RequestPassword.js')}"></script>
</f:section>
