<f:layout name="Default"/>

<f:section name="Title">
	<f:translate id="resetPassword">Reset password</f:translate>
</f:section>

<f:section name="Content">
	<div class="application-logo">
		<f:if condition="{settings.image}">
			<f:then>
				<img src="{f:uri.resource(path: settings.image)}" alt="Application logo" />
			</f:then>
			<f:else>
				<img src="resource://Refactory.Login/Public/Images/ApplicationLogo.png" alt="Application logo" />
			</f:else>
		</f:if>
	</div>
	<div id="reset-box" <f:if condition="{hasUser}"><f:then>class="notification"</f:then></f:if><f:if condition="{isTokenActive}"><f:else>class="notification"</f:else></f:if>>
		<div class="process">
			<div class="process-row">
				<div class="process-step">
					<button type="button" class="btn complete btn-circle" disabled="disabled"><i class="icon-pencil"></i></button>
				</div>
				<div class="process-step">
					<button type="button" class="btn active btn-circle" disabled="disabled"><i class="icon-exchange"></i></button>
				</div>
				<div class="process-step">
					<button type="button" class="btn btn-success btn-circle" disabled="disabled"><i class="icon-check"></i></button>
				</div>
			</div>
		</div>
		<div class="reset-body">
			<f:if condition="{hasUser}">
				<f:then>
					<p>We've sent a mail to your e-mail address please:</p>
					<h1>Check your inbox!</h1>
					<p>To proceed resetting your password please click on the link inside the email.</p>
				</f:then>
				<f:else>
					<f:if condition="{isTokenActive}">
						<f:then>
							<f:if condition="{isPasswordChanged}">
								<f:else>
									<f:form id="reset-form" action="reset"  class="form-horizontal form-block" format="json">
										<f:form.hidden name="token" value="{token}" />
										<div class="form-group password-strength">
											<f:form.textfield id="newPassword" name="newPassword" type="password" placeholder='<f:translate id="inputNewPassword">New Password</f:translate>' />
											<div class="strength tooltip bottom in tooltip-warning"><div class="tooltip-arrow"></div><div class="tooltip-inner">Password strength: <br/> <span class="label-strength"></span></div></div>
										</div>
										<div class="form-group validation">
											<f:form.textfield id="newPasswordRepeat" name="newPasswordRepeat" type="password" placeholder='<f:translate id="inputNewPasswordRepeat">Repeat new password</f:translate>' />
										</div>
										<div class="application-actions feedback">
											<button class="span5 pull-right button button-primary button-warning reset-btn" data-loading-text="Loading..." type="submit" additionalAttributes="{tabindex: 3}">
												<f:translate id="resetPassword">Reset password ></f:translate>
											</button>
										</div>
										<p class="utility">
											<f:link.action controller="Login" action="login" class="pull-left"><f:translate id="link.login">Login?</f:translate></f:link.action>
										</p>
									</f:form>
								</f:else>
							</f:if>
						</f:then>
						<f:else>
							<p><f:translate id="tokenExpiredBefore">You are trying to reset your password, but:</f:translate></p>
							<h1><f:translate id="tokenNotValid">This token is not valid!</f:translate></h1>
							<p class="application-actions">
								<f:link.action controller="Password" action="ResetRequest" class="button button-primary button-warning reset-btn">Reset procedure</f:link.action>
							</p>
						</f:else>
					</f:if>
				</f:else>
			</f:if>
		</div>
	</div>
</f:section>

<f:section name="Script">
	<script src="{f:uri.resource(path: 'Library/BootstrapValidator/js/bootstrapValidator.min.js')}"></script>
	<script src="{f:uri.resource(path: 'Library/strength/jquery.strength.js')}"></script>
	<script src="{f:uri.resource(path: 'JavaScript/RequestPassword.js')}"></script>
	<script>
		$(document).ready(function() {
			$('#newPassword').strength();

			$('#reset-form').bootstrapValidator({
				message: 'This value is not valid',
				feedbackIcons: {
					valid: 'icon-check',
					invalid: 'icon-remove',
					validating: 'icon-refresh'
				},
				fields: {
					newPassword: {
						validators: {
							identical: {
								field: 'newPasswordRepeat',
								message: ' '
							}
						}
					},
					newPasswordRepeat: {
						validators: {
							identical: {
								field: 'newPassword',
								message: 'The password and its confirm are not the same'
							}
						}
					}
				}
			});
		});
	</script>
</f:section>