<footer id="footer">
	<p>
		Developed by <a href="http://www.refactory.it" target="_blank"><strong>Refactory</strong></a> – © 2014.
	</p>
</footer>

<script src="{f:uri.resource(path:'Vendor/jquery.js')}"></script>
<script src="{f:uri.resource(path:'Vendor/jquery-ui-1.10.3.custom.js')}"></script>
<script src="{f:uri.resource(path:'Vendor/jquery.form.js')}"></script>
<script src="{f:uri.resource(path:'Vendor/bootstrap.min.js')}"></script>
<script src="{f:uri.resource(path:'Vendor/toastr.js')}"></script>
<script src="{f:uri.resource(path: 'JavaScript/Application.js')}"></script>