<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><f:render section="Title" /></title>
		<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Styles/Register.css')}" />
		<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Library/BootstrapValidator/css/bootstrapValidator.min.css')}" />
		<f:for each="{settings.styles}" as="style">
			<link rel="stylesheet" type="text/css" href="{style}" />
		</f:for>
	</head>
	<body class="refactory">
	<div id="wrap">
			<f:render section="Content" />
		<div id="push"></div>
	</div>

	<f:render partial="Footer" />
	<f:render section="Script" />
	</body>
</html>