<f:layout name="Register" />

<f:section name="Title">Register account</f:section>

<f:section name="Content">
	<div class="application-logo">
		<f:if condition="{settings.image}">
			<f:then>
				<img src="{f:uri.resource(path: settings.image)}" alt="Application logo" />
			</f:then>
			<f:else>
				<img src="resource://Refactory.Login/Public/Images/ApplicationLogo.png" alt="Application logo" />
			</f:else>
		</f:if>
	</div>
	<div id="register-box">
		<div class="process">
			<div class="process-row">
				<div class="process-step">
					<button type="button" class="btn btn-default btn-circle active" disabled="disabled"><i class="icon-magic"></i></button>
				</div>
				<div class="process-step">
					<button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="icon-exchange"></i></button>
				</div>
				<div class="process-step">
					<button type="button" class="btn btn-success btn-circle" disabled="disabled"><i class="icon-check"></i></button>
				</div>
			</div>
		</div>
		<div class="register-body">
			<f:form id="register-form" name="register" class="form-horizontal" action="create" format="json">
				<input type="hidden" name="lastVisitedNode" value="" />
				<fieldset>
					<div class="form-group">
						<f:form.textfield name="email" id="email" class="span12" value="{email}" placeholder="E-mail address" additionalAttributes="{autofocus: 'autofocus', tabindex: 1}" />
					</div>
					<div class="form-group feedback-large">
						<f:form.textfield name="identifier" id="identifier" class="span12" value="{identifier}" placeholder="{f:translate(id: 'authentication.username.placeholder', value: 'Username')}" additionalAttributes="{autofocus: 'autofocus', tabindex: 2}" />
					</div>
					<div class="alert alert-warning"><span class="icon icon-exclamation-sign"></span><strong>Initial Password:</strong> The initial password for accessing the setup can be found in the file<br><strong>/var/www/mrep/Data/SetupPassword.txt</strong></div>
					<div class="form-group">
						<f:form.password name="password" id="password" class="input-large" additionalAttributes="{placeholder: '{f:translate(id: \'inputNewPassword\', value: \'Password\')}', tabindex: 3}" />
						<div class="alert pwstrength_viewport_progress"></div>
					</div>
					<div class="form-group">
						<f:form.password name="confirmPassword" id="confirmPassword" class="input-large" additionalAttributes="{placeholder: '{f:translate(id: \'inputNewPasswordRepeat\', value: \'Repeat Password\')}', tabindex: 4}" />
					</div>
					<div class="register-actions feedback">
						<p>
							<f:link.action controller="Password" action="ResetRequest"><f:translate id="link.resetPassword">Forgot my password?</f:translate></f:link.action>
							<f:link.action controller="Login" action="login" class="pull-right">Login?</f:link.action>
						</p>
						<button class="span5 pull-right button button-primary button-warning login-btn" type="submit" tabindex="5">
							Register account >
						</button>
					</div>
				</fieldset>
			</f:form>
		</div>
	</div>
</f:section>

<f:section name="Script">
	<script src="{f:uri.resource(path: 'Library/BootstrapValidator/js/bootstrapValidator.min.js')}"></script>
	<script src="{f:uri.resource(path: 'Library/Pwstrength/pwstrength-bootstrap-1.1.5.min.js')}"></script>
	<script src="{f:uri.resource(path: 'JavaScript/Register.js')}"></script>
</f:section>