<f:layout name="Register" />

<f:section name="Title">
	Switch
</f:section>

<f:section name="Content">
	<div class="application-logo">
		<img src="resource://Refactory.Login/Public/Images/ApplicationLogo.png" alt="Application logo" />
	</div>
	<div id="register-box" class="notification">
		<div class="process">
			<div class="process-row">
				<div class="process-step">
					<button type="button" class="btn complete btn-circle" disabled="disabled"><i class="icon-magic"></i></button>
				</div>
				<div class="process-step">
					<button type="button" class="btn active btn-circle" disabled="disabled"><i class="icon-exchange"></i></button>
				</div>
				<div class="process-step">
					<button type="button" class="btn btn-circle" disabled="disabled"><i class="icon-check"></i></button>
				</div>
			</div>
		</div>
		<div class="register-body">
			<f:if condition="{user}">
				<f:then>
					<p>This service has emailed you on (Account Email Address)</p>
					<h1>Please check your inbox!</h1>
					<p>To proceed please open the link in the e-mail to complete the account verification process.</p>
				</f:then>
				<f:else>
					<h1>There is no token present and no user created</h1>
				</f:else>
			</f:if>
		</div>
	</div>
</f:section>

<f:section name="Script">
</f:section>