/* Color palette */
/* Sizes & margins */
/* Components */
/* Footer*/
.refactory #signed-in-box {
  color: white;
  background: #27ae61;
  border: none;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 480px;
  margin-top: -125px;
  margin-left: -240px;
  z-index: 10;
}
.refactory #signed-in-box .btn-logout {
  height: 40px;
  color: #fff;
  border: none;
  background-image: none;
  font-size: 14px;
  background-color: #f44932;
}
.refactory #signed-in-box .btn-logout:focus {
  outline: none;
}
.refactory #signed-in-box .btn-logout.login-btn {
  background-color: #00b5ff;
  width: 100%;
}
.refactory #signed-in-box .btn-logout.login-btn.promise, .refactory #signed-in-box .btn-logout.login-btn.promise:hover
.refactory #signed-in-box .btn-logout.login-btn.promise:focus {
  background-color: #27ae61;
}
.refactory #signed-in-box .btn-logout.login-btn:hover, .refactory #signed-in-box .btn-logout.login-btn:focus {
  background-color: #0098d6;
  transition: all 300ms ease-in;
}
